{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}
{% include 'partials/preloader.html' %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carrusel con Imágenes Centradas</title>
    <style>
        .carousel__slide img {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>          
    <div >
        <li class="carousel__slide">
        <figure>
            <div>
                <img src="{% static 'img/1.png' %}" >
            </div>
        </figure>
    </li>   
</div>                       
</body>
</html>

  
{% endblock %}
