{% extends 'partials/body-login.html' %}
{% load static %}
{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>login</title>
</head>
<body>
    <section>
            <div class="login-box elevation-5 form-box " style="background-color:#0000;border-color: #0000;">             
                <div class="card card-outline card-primary" style="background-color:#0000;border-color: #0000;">
                    <div class="card-header text-center" style="background-color: #0000; border-color: #0000;">
                        <img src="{% static 'img/logo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle w-50 " style="opacity: .8">
                        <div class="h1"> PINEDA  <b>MOTOR'S</b></div>
                    </div>
                    <div class="card-body">
                        <p class="login-box-msg">Revisa tu correo electrónico para restablecer tu contraseña.</p>
                        <p class="mb-1">
                            <a href="{% url 'inicio' %}" style="color: #ff0404;">Iniciar sesión</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock contenido %}
