{% extends 'partials/body-login.html' %}
{% load static %}

{% block contenido %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <title>Restablecer contraseña</title>
</head>
<body>
    <section>
        <div class="login-box elevation-5 " style="background-color:#00000015;border-color: #0000;">
            <div class="card " style="background-color:#00000015;border-color: #0000;">
                <div class=" text-center" style="background-color:#00000015;border-color: #0000;">
                    <img src="{% static 'img/logo.png' %}" alt="" class="brand-image img-circle w-50 " style="opacity: .8">
                    <div class="h1">PINEDA <b>MOTOR'S</b></div>
                </div>
                <div class="card-body">
                     {% if validlink %}
                     <form method="post">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <input type="password" name="new_password1" class="form-control" placeholder="Nueva contraseña">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="bi bi-lock-fill"></i>
                                </div>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" name="new_password2" class="form-control" placeholder="Confirmar nueva contraseña">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <i class="bi bi-lock-fill"></i>
                                </div>
                            </div>
                        </div>
                        <button>Cambiar contraseña</button>
                    </form>
                    {% else %}
                    <div class="alert alert-danger" role="alert">
                        El enlace para restablecer la contraseña no es válido o ha caducado.
                        <a href="{% url 'password_reset' %}">¿Olvidaste tu contraseña?</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if form.errors %}
        <div class="alert alert-danger" role="alert">
            {% for field, errors in form.errors.items %}
            <strong>{{ field }}:</strong>
            {% for error in errors %}
            {{ error }}
            {% endfor %}
            <br>
            {% endfor %}
        </div>
        {% endif %}
        {% endblock %}

